Flask==3.0.1
Flask-Cors==4.0.0
google-generativeai==0.5.4
langchain-core==0.2.21
langchain-community==0.2.7
langchain-experimental==0.0.62
langchain-groq==0.1.5
python-dotenv==1.0.1
mysql-connector-python==8.4.0
SQLAlchemy==1.4.46
requests==2.31.0
openai==0.28.0
Flask-PyMongo
