langchain_community==0.2.5
langchain_
langchain_core==0.2.7
langchain_google_genai==1.0.6
langchain_groq==0.1.5
python-dotenv==1.0.1
streamlit==1.35.0
mysql-connector-python==8.4.0
fastapi==0.0.4
langchain_experimental==0.0.62
langchain_openai==0.1.17